/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #333; /* color de fondo de la navegación */
    padding: 1em; /* espacio entre la navegación y el contenido */
}

nav li {
    margin-right: 20px; /* espacio entre los elementos de la navegación */
}

nav a {
    color: #fff; /* color de texto de la navegación */
    text-decoration: none; /* quitar subrayado de los enlaces */
    transition: color 0.2s ease; /* efecto de transición al pasar el mouse */
}

nav a:hover {
    color: #ccc; /* color de texto al pasar el mouse */
}

nav a.active {
    color: #fff; /* color de texto del elemento activo */
    font-weight: bold; /* negrita para el elemento activo */
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070707;
}
.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features li {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features li i {
    font-size: 24px;
    margin-bottom: 10px;
}

.features li h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-image {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
